[submodule "src/node-config"]
	path = src/node-config
	url = git@github.com:tomasperezv/node-config.git
[submodule "src/node-log"]
	path = src/node-log
	url = git@github.com:tomasperezv/node-log.git
[submodule "src/external/knwl"]
	path = src/external/knwl
	url = git@github.com:tomasperezv/Knwl.js.git
